@font-face {
    font-family: 'Franklin Gothic Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Franklin Gothic Regular'), url('FranklinGothic.woff') format('woff');
}

body {
    border: 0;
    margin: 0;
    overflow-y: hidden;
    font-family: 'Franklin Gothic Regular', Arial, sans-serif; /* Fallback to Arial or sans-serif */
}


#container{
    display:grid;
    height: 100vh;
    width:100vw;
    background-color: rgb(112, 19, 159);
    grid-template-columns: repeat(2,1fr);
    
    
}

#cameraContainer {
    display: grid;
    place-items: center; 
    width: 45vw;
    height: 100%; 
    background-color: rgb(4, 62, 21);
    border-radius: 30px;
    justify-content: center;
    align-content: center;
}

#camera {
    margin-top: 4vh;
  
 
}

#texts{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 55vw;
    background-color: rgb(252, 248, 239);
    border-radius: 30px;

}



#label{
    font-size: 100%;
    margin-top: -47vh;
    display: none;
 
}

#kind{
    justify-content: center;
    font-size: 500%;
padding: 8%;
color: rgb(63, 7, 90);
text-align: center;
margin-top:-3vh;
}

#top{
    display:grid;
    height: 70vh;
}


#description{
    transform: translateY(-10vh);
    justify-content: center;
    font-size: 150%;
    margin: 8%;
    text-align: center;
    color:rgb(4, 62, 21);
}


#bottom {
    display: grid;
    height: 30vh;
    grid-template-columns: repeat(2, 1fr);
    margin-top:4vh;
    align-items: center;
    justify-items: center;
}

#speech {
    background-color: rgb(112, 19, 159);
    width: 15vw;
    height: 15vh;
    border-radius: 40px;
    margin: 0 auto; /* Centers horizontally */
    color:rgb(252, 248, 239);
}

#stop {
    background-color: rgb(4, 62, 21);
    width: 15vw;
    height: 15vh;
    border-radius: 40px;
    margin: 0 auto; /* Centers horizontally */
    color:rgb(252, 248, 239);
}

